// 16px
.container {
  width: 20rem;
  height: 20rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: beige;
}
.cube,
.cube * {
  position: absolute;
  width: 6rem;
  height: 6rem;
}

.sides {
  animation: rotate 3s ease infinite;
  animation-delay: 0.8s;
  transform-style: preserve-3d;
  transform: rotateX(-37.5deg) rotateY(45deg);

  * {
    box-sizing: border-box;
    border: 0.12rem solid #fff;
    border-radius: 0.25rem;
    background: rgba(255, 255, 255, 0.1);
  }

  .top {
    animation: top-animation 3s ease infinite;
    animation-delay: 0ms;
    transform: rotateX(90deg) translateZ(96px);
    animation-fill-mode: forwards;
    transform-origin: 50% 50%;
  }

  .right {
    animation: right-animation 3s ease infinite;
    animation-delay: 100ms;
    transform: rotateY(90deg) translateZ(96px);
    animation-fill-mode: forwards;
    transform-origin: 50% 50%;
  }
  .bottom {
    animation: bottom-animation 3s ease infinite;
    animation-delay: 0ms;
    transform: rotateX(-90deg) translateZ(96px);
    animation-fill-mode: forwards;
    transform-origin: 50% 50%;
  }

  .left {
    animation: left-animation 3s ease infinite;
    animation-delay: 100ms;
    transform: rotateY(-90deg) translateZ(96px);
    animation-fill-mode: forwards;
    transform-origin: 50% 50%;
  }

  .front {
    animation: front-animation 3s ease infinite;
    animation-delay: 100ms;
    transform: rotateY(0deg) translateZ(96px);
    animation-fill-mode: forwards;
    transform-origin: 50% 50%;
  }

  .back {
    animation: back-animation 3s ease infinite;
    animation-delay: 100ms;
    transform: rotateY(-180deg) translateZ(96px);
    animation-fill-mode: forwards;
    transform-origin: 50% 50%;
  }
}

@keyframes right-animation {
  0% {
    opacity: 1;
    transform: rotateY(90deg) translateZ(96px);
  }

  20% {
    opacity: 1;
    transform: rotateY(90deg) translateZ(48px);
  }

  70% {
    opacity: 1;
    transform: rotateY(90deg) translateZ(48px);
  }

  90% {
    opacity: 1;
    transform: rotateY(90deg) translateZ(96px);
  }

  100% {
    opacity: 1;
    transform: rotateY(90deg) translateZ(96px);
  }
}

@keyframes bottom-animation {
  0% {
    opacity: 1;
    transform: rotateX(-90deg) translateZ(100px);
  }

  20% {
    opacity: 1;
    transform: rotateX(-90deg) translateZ(48px);
  }

  70% {
    opacity: 1;
    transform: rotateX(-90deg) translateZ(48px);
  }

  90% {
    opacity: 1;
    transform: rotateX(-90deg) translateZ(100px);
  }

  100% {
    opacity: 1;
    transform: rotateX(-90deg) translateZ(100px);
  }
}

@keyframes left-animation {
  0% {
    opacity: 1;
    transform: rotateY(-90deg) translateZ(96px);
  }

  20% {
    opacity: 1;
    transform: rotateY(-90deg) translateZ(48px);
  }

  70% {
    opacity: 1;
    transform: rotateY(-90deg) translateZ(48px);
  }

  90% {
    opacity: 1;
    transform: rotateY(-90deg) translateZ(96px);
  }

  100% {
    opacity: 1;
    transform: rotateY(-90deg) translateZ(96px);
  }
}

@keyframes front-animation {
  0% {
    opacity: 1;
    transform: rotateY(0deg) translateZ(96px);
  }

  20% {
    opacity: 1;
    transform: rotateY(0deg) translateZ(48px);
  }

  70% {
    opacity: 1;
    transform: rotateY(0deg) translateZ(48px);
  }

  90% {
    opacity: 1;
    transform: rotateY(0deg) translateZ(96px);
  }

  100% {
    opacity: 1;
    transform: rotateY(0deg) translateZ(96px);
  }
}

@keyframes back-animation {
  0% {
    opacity: 1;
    transform: rotateY(-180deg) translateZ(96px);
  }

  20% {
    opacity: 1;
    transform: rotateY(-180deg) translateZ(48px);
  }

  70% {
    opacity: 1;
    transform: rotateY(-180deg) translateZ(48px);
  }

  90% {
    opacity: 1;
    transform: rotateY(-180deg) translateZ(96px);
  }

  100% {
    opacity: 1;
    transform: rotateY(-180deg) translateZ(96px);
  }
}

@mixin keyframes($animationName) {
  @-webkit-keyframes #{$animationName} {
    @content;
  }
  @-moz-keyframes #{$animationName} {
    @content;
  }
  @-o-keyframes #{$animationName} {
    @content;
  }
  @keyframes #{$animationName} {
    @content;
  }
}

@include keyframes(rotate) {
  0% {
    transform: rotateX(-37.5deg) rotateY(45deg);
  }
  50% {
    transform: rotateX(-37.5deg) rotateY(405deg);
  }

  100% {
    transform: rotateX(-37.5deg) rotateY(405deg);
  }
}

@include keyframes(top-animation) {
  0% {
    opacity: 1;
    transform: rotateX(90deg) translateZ(100px);
  }

  20% {
    opacity: 1;
    transform: rotateX(90deg) translateZ(48px);
  }

  70% {
    opacity: 1;
    transform: rotateX(90deg) translateZ(48px);
  }

  90% {
    opacity: 1;
    transform: rotateX(90deg) translateZ(100px);
  }

  100% {
    opacity: 1;
    transform: rotateX(90deg) translateZ(100px);
  }
}
